@import "tailwindcss";

@theme {
  --color-primary: #1e2558;
  --color-secondary: #4eb956;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #1e2558, #4eb956);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #151b46, #3da345);
}
